<nav class="navbar">
  
    <div class="logojob">
              <img src="img/jn1.png" width=60xp alt="Logo">
    </div>
    <div class="linkcontato">
        <ul>            
            <li class="nav-item"><a target="_blank" href="mailto:suportejobsnet@gmail.com">E-mail</a></li>
            <li class="nav-item"><a target="_blank" href="https://wa.me/5511">Suporte</a></li>
        </ul>
    </div>
  <p>Unindo Você ao Emprego Ideal!</p>
</nav>

