*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: #006d77;
}
body{
    background: url(/img/pattern.png) repeat ;
    max-height: 100vh;
}


.home {
    background-color: #edf6f9;
    color: #edf6f9;
    padding: 20px;
    max-width:50%;
    margin: 0 auto;  
    margin-top: 2%;
    border: solid #ffddd2;
    font-weight: 400;
    }

.home h1 {
    padding: 20px;
}
.home img {
    max-width:80%;
    height:auto;
}

.final {
    background-color: #edf6f9;
    color: #edf6f9;
    padding: 20px;
    max-width:50%;
    margin: 0 auto;  
    margin-top: 2%;
    border: solid #ffddd2;
    text-align: center;
    }

.final h1 {
    padding: 20px;
    }

.final img {
    max-width:80%;
    height:auto;
    margin-top: 2%;
    margin-bottom: -15%;
}
.navbar {
    display: flex;
    padding: 10px;
    box-shadow: 1px 1px 10px 1px white;
    margin-bottom: 45px;
    background: rgba(237, 246, 249, 0.85);
    transition: all 0.2s ease-in-out;
    justify-content: space-around;
    font-weight: 400;
    font-size: 20px;

}
.logojob {
    display: flex;
    align-items: center;
    justify-content: center;
}
.linkcontato{
    justify-content: right;
    padding: 20px;
}
.navbar ul {
    display: flex;
    list-style: none;
    font-size: 20px;
}
.navbar ul li {
    padding: 5px;
    border-right: 1px dashed white;
}
.navbar ul li:first-child {
    border-left: 1px dashed white;
}
.navbar ul li a {
    transition: 300ms;
}
.navbar ul li a:hover {
    color:#e29578;
}
.navbar p {
    margin: 0 auto;
    display:flex;
    align-self: center;
    margin-right: 20%;

}

form {
    max-width:60%;
    padding: 20px;
    background-color: #edf6f9;
    font-weight: 400;
    display: flex;
    flex-wrap: wrap;
    height:90%;  
    margin: 0 auto;  
    margin-top: 2%;
    border: solid #ffddd2;
    
}

.main-form-name {
    display: flex;
    margin: 5px auto;  
    flex-basis: 100%; 
    text-align: center;
    align-items: center;
    
}
.main-form-line {
    display: flex;
    margin: 5px auto;     
    flex-basis: 25%;   
    flex-wrap: wrap;
}
.main-form-cep {
    display: flex;
    margin: 5px auto;    
    flex-basis: 100%; 
    width: 500%;
}

span {
    color: #c1121f;
    font-weight: 600;
}
input, select {
    padding: 5px 5px;
    border-color: #ffddd2;
    border-radius: 5px ;
    display:inline-block;
    background-clip:padding-box;
    background:#fff;
    height:28px;
    flex-wrap: wrap;
    display: flex;
    margin: 5px;
    text-align: center;
    align-items: center;
    }

a {
    cursor:pointer;
    text-decoration: none;
}
label {
    font-size: 15px;
    padding: 5px;
}
button {
    width: 100%;
    padding: 5px;
    background: linear-gradient(to right, #006d77 50%,#e29578 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    color: #edf6f9;
    font-weight: 600;
    cursor: pointer;
    border: none;
    transition: all 300ms ease-out;
    border-radius: 5px;
    margin-top: 20px;
}
button:hover {
    background-position: left bottom;
    color: #edf6f9;
}
.container .name {
    display:flex;
    flex-basis: 100%;
    width:100%;
    padding: 5px;
}
.container .name h2 {
    font-size: 25px; 
}
.container .name h3 {
    font-size: 20px;  
}
.container .name input {
    flex-wrap: wrap;
    display: flex;
    width:100%;
}

@media only screen and (max-width: 768px) {
    .container {
        max-width: 100%;
        margin: 0 auto;
        padding: 10px;
    }
    label {
        font-size: 12px;
        padding: 3px;
    }

@media only screen and (max-width: 480px) {
    .container .name h2 {
        font-size: 20px;
    }
    .container .name h3 {
        font-size: 15px;
    }
    input, select {
        height:23px;
        font-size: 60%;
    }
}}
    