<div class="final">
	<h1>Cadastro concluído</h1>

		<p>Seu Cadastro foi Realizado com Sucesso!</p>
		<p>Agradecemos seu contato!</p>
	<button class="botao" type="submit" ><a href="/">Voltar</a></button>
</div>