{{#each erros}}
    <div class="alert alert-danger">{{texto}}</div>
{{else}}    

{{/each}}
    <main>
                         
                <div class="container">                        
                    <form action="/register" method="POST" id="register-form">
                        
                            <div class="name"><h2>Registre Seu Currículo!</h2></div><br>

                            <div class="main-form-name">
                                <label for="inputname">Nome: <span class="required">*</span></label>
                                <input
                                    type="text" id="inputname" name="inputname" placeholder="Seu Nome" required/>
                            </div>
                            <div class="main-form-line">
                                <label for="inputPosition">Cargo Pretendido: <span class="required">*</span> </label>
                                <input
                                    type="text" id="inputposition" name="inputposition" placeholder="Cargo Desejado" spellcheck="false" autocorrect="off" required/>
                            </div>
                            <div class="main-form-line">
                                <label for="selectSexo">Sexo: <span class="required">*</span></label>
                                <select id="selectsexo" name="selectsexo">
                                    <option value="" disabled selected> Selecione o Sexo</option>
                                    <option value="0">Feminino Cis</option>
                                    <option value="1">Masculino Cis</option>
                                    <option value="2">Feminino Trans</option>
                                    <option value="3">Masculino Trans</option>
                                    <option value="4">Não Binário</option>
                                    <option value="5">Outros</option>
                                    <option value="6">Prefiro Não Informar</option>                                
                                </select>
                            </div>
                            <div class="main-form-line">
                                <label for="inputBorn">Data de Nascimento: <span class="required">*</span></label>
                                <input id="inputborn" type="date" required name="inputborn">
                            </div>
                            <div class="main-form-line">
                                <label for="selectEstadoCivil">Estado Civil: <span class="required">*</span></label>
                                <select id="selectestadocivil" name="selectestadocivil" >
                                    <option value="" disabled selected> Selecione o Estado Civil</option>
                                    <option value="0">Solteiro</option>
                                    <option value="1">Casado</option>
                                    <option value="2">Separado</option>
                                    <option value="3">Divorciado</option>
                                    <option value="4">Viúvo</option>
                                    <option value="5">União Estável</option>                                 
                                </select>
                            </div>
                                                       
                            <div class="name"><h3>Contato:</h3></div> <br> 

                            <div class="main-form-line">
                                <label for="inputPhone">Celular: <span class="required">*</span></label>
                                <input
                                    type="number" id="inputphone" name="inputphone" placeholder="Seu Celular" maxlength="15" required/>
                            </div>
                            <div class="main-form-line">
                                <label for="inputphone">Residencial: </label>
                                <input
                                    type="number" id="inputphone2" name="inputphone2" placeholder="Seu Nº Residencial " maxlength="15" />
                            </div>
                            <div class="main-form-line">
                                <label for="inputphone">Recados: </label>
                                <input
                                    type="number" id="inputphone3" name="inputphone3" placeholder="Nº Recados" maxlength="15" />
                            </div>
                                
                            <div class="main-form-line">
                                <label for="inputEmail">E-mail: <span class="required">*</span></label>
                                <input
                                    type="email" id="inputemail" name="inputemail" placeholder="seunome@exemplo.com" required/>
                            </div>

                            <div class="name"><h3>Endereço:</h3></div>

                            <div class="main-form-cep">
                                <label>Cep: <span class="required">*</span>
                                <input name="cep" type="number" id="cep" placeholder="Digite seu CEP" required/></label>
                            </div> <br>
                            <div class="main-form-line">    
                                <label>Rua: <span class="required">*</span>
                                <input name="rua" type="text" id="rua" /></label>
                            </div> 
                            <div class="main-form-line"> 
                                <label>Número: <span class="required">*</span>
                                <input name="numero" type="text" id="numero" /></label>
                            </div> 
                            <div class="main-form-line">
                                <label>Complemento: 
                                <input name="complemento" type="text" id="complemento" /></label>
                            </div> 
                            <div class="main-form-line">
                                <label>Bairro: <span class="required">*</span>
                                <input name="bairro" type="text" id="bairro"  /></label>
                            </div> 
                            <div class="main-form-line"> 
                                <label>Cidade: <span class="required">*</span>
                                <input name="cidade" type="text" id="cidade"  /></label>
                            </div> 
                            <div class="main-form-line"> 
                                <label>Estado: <span class="required">*</span>
                                <input name="uf" type="text" id="uf" /></label>
                            </div> 

                            <div class="name"><h3>Documentos:</h3></div>                            
                            <div class="main-form-line">
                                <label for="inputRG">RG: <span class="required">*</span> </label>
                                <input
                                type="text" id="inputrg" name="inputrg" placeholder="Seu RG" required/>
                            </div>
                            <div class="main-form-line">
                                <label for="inputCPF">CPF: <span class="required">*</span> </label>
                                <input
                                type="text" id="inputcpf" oninput="validaCPF()" name="inputcpf" placeholder="Ex.: 000.000.000-00" required/>
                            </div>
                            <div class="main-form-line">
                                <label for="selectHab">Habilitação: </label>
                                <select id="selecthab" name="selecthab">
                                    <option value="" disabled selected> Selecione o Opção</option>
                                    <option value="0">Não</option>
                                    <option value="1">A</option>
                                    <option value="2">B</option>
                                    <option value="3">AB</option>
                                </select>
                            </div>
                            <div class="main-form-line">
                                <label for="selectVeic">Possui Veículo: </label>
                                <select id="selectveic" name="selectveic">
                                    <option value="" disabled selected> Selecione o Opção</option>
                                    <option value="0">Sim</option>
                                    <option value="1">Não</option>
                                </select>
                            </div> 
                            
                            <button class="botao" type="submit" onsubmit="">Concluído</button>
                           
                              
                    </form>                        
                </div>
                  
        
    </main>