<div class="home" id="home">
	<center><h1>Seja Bem Vinde à Página da</h1>
		<img src=img/jn1.png>
		<br>
		<p>Cadastre já seu currículo:</p></center>

	<button class="botao" type="submit" ><a href="formulario">Cadastrar</a></button>

</div>